*{
    margin: 0px;;
    padding: 0px;
} 
.parent3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
    height: 415px;
    width: 365px;
    /* padding-top: 24px;
    padding-bottom: 24px;
    width: 416px;
    align-items: center; */
    padding: 48px 40px  36px 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.child4{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center; 
    /* background-color: rgb(255, 255, 255); */
    padding: 48px 40px  36px 40px;
    height: 415px;
    width: 365px;
    
    
}
.header2{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    font-style: flex-start;
}
 .c1{
    color: rgb(66, 133, 244);
}
.c2{
    color: rgb(234, 67, 53);
}
.c3{
    color: rgb(251, 188, 5);
}
.c4{
    color: rgb(66, 133, 244);
}
.c5{
    color: rgb(52, 168, 83);
}
.c6{
    color: rgb(234, 67, 53);
}
.form-container2{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: larger;
}
.mr2{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: larger;
}
.form2{
    display: flex;
    align-items: center;
    flex-direction: row;
    
}
.form-group2{
    display: flex;
    flex-direction: row;
}
.flex-gap1{
  display: inline-flex;
  flex-wrap: wrap;
  gap: 12px;
  align-content: space-between;
  align-content: space-around;
}
.showpassword1{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    float: left;
}
.button1{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
}

