.parent1 {
    background-color: rgb(255, 255, 255);
    padding: 46px 40px 36px 40px;
    width: 456px;
    margin: 60px;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.child2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-style: roboto;
    background-color: rgb(255, 255, 255);
    width: 50%;
}
.btnn{
    display: flex;
    flex-direction: row-reverse;
    /* width: 100%; */
}
.header1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: flex-start;
    viewBox: 0 0 75px 24px;
    align-items: center;
    align-content: center;
    width: 75%;
    height: 24%;
    background-color: #ffffff;
    justify-content: flex-start;
    margin: top;
}
.signin{

}

.l1{
    color: rgb(66, 133, 244);
}
.l2{
    color: rgb(234, 67, 53);
}
.l3{
    color: rgb(251, 188, 5);
}
.l4{
    color: rgb(66, 133, 244);
}
.l5{
    color: rgb(52, 168, 83);
}
.l6{
    color: rgb(234, 67, 53);
}
.signin{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    font-size: normal;
    }
.container{
    margin-bottom: 15px;
       
}
.email{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
      
}
.errorMessage {
  color:#db2222;
  font-size: 0.625em;
  display: relative;
}
.flex-gap1 {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 12px;
  align-content: space-around;
}
@media only screen and (max-width: 600px){
    .parent1{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 100%;
        border: none;
    }
    /* .image{
        display: none;  
    } */
    .names{
        display: flex;
        flex-direction: column;
    }
    .password{
        padding-top: 15px;
    }
    .child2{
        display: flex;
        flex-direction: column;
        height: auto;
        min-height: 500px;
    }

}




