*{
    margin: 0;
    padding: 0;
}
.parent2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
    height: 368px;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 416px;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.child3{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-style: roboto;
    background-color: rgb(255, 255, 255);
    width: 416px;
    height: 250px;
    margin: top;
    padding: 48px 40px  36px 40px;
}
.header1{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    font-style: flex-start;
}
 .f{
    color: rgb(66, 133, 244);
}
.u{
    color: rgb(234, 67, 53);
}
.n{
    color: rgb(251, 188, 5);
}
.d{
    color: rgb(66, 133, 244);
}
.o{
    color: rgb(52, 168, 83);
}
.o{
    color: rgb(234, 67, 53);
}
.form-container1{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: larger;
}
.mr{
    display: flex;
    align-items: center;
    margin-bottom: 15px;

}
.form2{
    display: flex;
    align-items: center;


}
.form-group2{
    display: flex;
    flex-direction: row;
    padding: 13px 15px 13px 15px;
}
.button2{
    display: flex;
    margin: right;
    /* flex-direction: row-reverse; */
    justify-content: flex-start;
    align-items: flex-start;

}